# CPAN Name  : Template-ShowStartStop
[% mypkgver = pkgname _ "=" _ pkgver;
	PROCESS '../wrapper.tt'
	vcs = 'git'
	provides = [ mypkgver ]
	vcs_uri = 'git://github.com/xenoterracide/Template-ShowStartStop.git'
%]
