# CPAN Name  : Template-ShowStartStop
[%- USE date(format = '%Y%m%d') -%]
[% mypkgver = pkgname _ "=" _ pkgver;
	PROCESS '../wrapper.tt'
	datepkgver = date.format
	vcs = 'git'
	provides = [ mypkgver ]
	vcs_uri = 'git://github.com/xenoterracide/Template-ShowStartStop.git'
%]
